<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qmkj.niaogebiji">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.qmkj.niaogebiji.common.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowClearUserData="true"
        android:resizeableActivity="true"
        android:testOnly="false"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 竖屏绘制到耳朵区 -->
        <meta-data android:name="notch.config"
            android:value="portrait"></meta-data>

        <!-- 填充全面屏屏幕底部 -->
        <meta-data android:name="android.max_aspect"
            android:value="2.2"></meta-data>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d64dd3e3fc1954178000034" />

        <activity android:name=".module.activity.HomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".module.activity.SplashNewActivity">

        </activity>


        <activity android:name=".module.activity.SplashActivity">
        </activity>


        <activity android:name=".module.activity.WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.LoginActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".module.activity.PhoneInputActivity"
            android:screenOrientation="portrait">


        </activity>


        <activity android:name=".module.activity.VertifyCodeActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.MoringNewsListActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.CategoryActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.DataInfomationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.PicPreviewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.AuthorListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CategoryListActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.NewsDetailActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.PersonActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CircleMakeActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CircleMakeAddLinkActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.SecretActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.UserAgreeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.ToolSearchActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.CommentDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.TranspondActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.TestListActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".module.activity.TestDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.TestLauchActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.TestResultActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.TestResultFailActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.UserInfoActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.HelloMakeActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".module.activity.MyCollectionListActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.InviteActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


        <!-- 7.0之后下载需要的provider name一般都固定 -->
        <provider
            android:authorities="com.qmkj.niaogebiji.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>

        </provider>

    </application>

</manifest>