<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qmkj.niaogebiji">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.qmkj.niaogebiji.common.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowClearUserData="true"
        android:resizeableActivity="true"
        android:testOnly="false"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".module.activity.HomeActivity">
        </activity>


        <activity android:name=".module.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".module.activity.WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.PhoneInputActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.VertifyCodeActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.MoringNewsListActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.CategoryActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.DataInfomationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.PicPreviewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.AuthorListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CategoryListActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.NewsDetailActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>