<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qmkj.niaogebiji">



    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 10.0读取权限 -->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- the following 2 com.xiaomi.mipushdemo should be changed to your package name -->
    <permission
        android:name="com.qmkj.niaogebiji.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.qmkj.niaogebiji.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />



    <!--HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 | HMS-SDK upgrade HMS Feature, access to OTA server requires network privileges-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 | HMS-SDK upgrade HMS Feature, save downloaded upgrade pack requires SD card Write permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--检测网络状态 | Detecting Network status-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--检测wifi状态 | Detecting WiFi status-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--获取用户手机的IMEI，用来唯一的标识设备。 | Gets the IMEI of the user's phone, used to uniquely identify the device.-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- Android O版本调用安装需要使用该权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 com.qmkj.niaogebiji 要替换上您应用的包名 -->
    <permission
        android:name="com.qmkj.niaogebiji.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem"/>

    <!--接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 com.qmkj.niaogebiji 要替换上您应用的包名 -->
    <uses-permission android:name="com.qmkj.niaogebiji.permission.PROCESS_PUSH_MSG" />


    <!--<uses-permission android:name="android.permission.VIBRATE"/>-->
    <!--<permission android:name="com.qmkj.niaogebiji.permission.MIPUSH_RECEIVE"-->
        <!--android:protectionLevel="signature" /> &lt;!&ndash;这里com.qmkj.niaogebiji改成app的包名&ndash;&gt;-->
    <!--<uses-permission android:name="com.qmkj.niaogebiji.permission.MIPUSH_RECEIVE" />&lt;!&ndash;这里com.qmkj.niaogebiji改成app的包名&ndash;&gt;-->




    <!-- 配置Android 9.0 对 http协议的支持 android:usesCleartextTraffic="true" -->
    <application
        android:name="com.qmkj.niaogebiji.common.BaseApp"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowClearUserData="true"
        android:resizeableActivity="true"
        android:testOnly="false"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 今日头条适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

        <!-- 竖屏绘制到耳朵区 -->
        <meta-data android:name="notch.config"
            android:value="portrait"></meta-data>

        <!-- 填充全面屏屏幕底部 -->
        <meta-data android:name="android.max_aspect"
            android:value="2.2"></meta-data>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d64dd3e3fc1954178000034" />


        <activity android:name=".module.activity.SplashNewActivity">
        </activity>


            <!-- 动态更换桌面icon -->
            <!--<activity-alias-->
                <!--android:name=".IconType_1"-->
                <!--android:targetActivity=".module.activity.HomeActivityV2"-->
                <!--android:enabled="true"-->
                <!--android:label="icon_1"-->
                <!--android:icon="@mipmap/bg_poster">-->

                <!--<intent-filter>-->
                    <!--<action android:name="android.intent.action.MAIN" />-->

                    <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--</intent-filter>-->

            <!--</activity-alias>-->

            <!--<activity-alias-->
                <!--android:name=".IconType_2"-->
                <!--android:targetActivity=".module.activity.HomeActivityV2"-->
                <!--android:enabled="false"-->
                <!--android:label="icon_2"-->
                <!--android:icon="@mipmap/bg_poster">-->

                <!--<intent-filter>-->
                    <!--<action android:name="android.intent.action.MAIN" />-->

                    <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--</intent-filter>-->

            <!--</activity-alias>-->







        <activity android:name=".module.activity.WebViewActivityWithLayout"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>

        <activity android:name=".module.activity.WebViewActivityWithStep"
            android:windowSoftInputMode="adjustResize"></activity>



        <activity android:name=".module.activity.SplashActivity"
            android:launchMode="singleTask">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".module.activity.TopSelectActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.TopicListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.TopicDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.AuthorDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.ModifyUserInfoActivity"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".module.activity.WebViewWithLayoutOnlyActivity"
            android:launchMode="singleTop">
        </activity>


        <activity android:name=".module.activity.WebViewWithLayoutOnlyActivityV2"
            android:launchMode="singleTop">
        </activity>


        <activity android:name=".module.activity.PicPreviewActivityV2"
            android:launchMode="singleTop">
        </activity>

        <activity android:name=".module.activity.WelcomeActivity"
            android:screenOrientation="portrait">


        </activity>


        <activity android:name=".module.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".module.activity.PhoneInputActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".module.activity.PhoneInputV2Activity"
            android:screenOrientation="portrait">


        </activity>


        <activity android:name=".module.activity.VertifyCodeActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.MoringNewsListActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.CategoryActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.DataInfomationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CooperationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.TopicDetailActivityV2"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:exported="true"
            android:name=".module.activity.HomeActivityV2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".module.activity.PicPreviewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CommentDetailActivityV2"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.AuthorListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CategoryListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.MessageDetailActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.NewsDetailActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <data android:scheme="niaogebiji"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


            </intent-filter>

        </activity>


        <activity android:name=".module.activity.PersonActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.CircleMakeActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.CircleMakeActivityV2"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.CircleMakeAddLinkActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.SecretActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.UserAgreeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.WebViewActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.ToolSearchActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".module.activity.CommentDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.TranspondActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.SettingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.AboutUsActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".module.activity.TestListActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.TestDetailActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".module.activity.TestLauchActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.TestResultActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.TestResultFailActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.UserInfoActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".module.activity.UserInfoModifyActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.UserInfoV2Activity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.HelloMakeActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".module.activity.MyCollectionListActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.InviteActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".module.activity.ToolEditActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".module.activity.MoreKnowYouActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".module.activity.NewsThingDetailActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".module.activity.FeatherListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.activity.FeatherListDetailActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".module.activity.FeatherCatListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.activity.ExchangeAllListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.activity.ExchangeDetailActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.helper.ExchangeDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.activity.FeatherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.activity.MyWebViewOnBackActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".module.activity.WebViewAllActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.activity.WebViewBadgeActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".module.activity.WebViewEditBadgeActivity"
            android:screenOrientation="portrait" />



        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1109884279" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


        <service android:name=".common.service.MediaService"/>
        <service android:name=".common.service.SendService"/>
        <service android:name=".common.service.SendBinderService"/>


        <!-- 7.0之后下载需要的provider name一般都固定 -->
        <provider
            android:authorities="com.qmkj.niaogebiji.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>

        </provider>



        <!--  ==================================================== 推送 ==================================================== -->

        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name="com.qmkj.niaogebiji.common.push.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.qmkj.niaogebiji.common.push.JPushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.qmkj.niaogebiji" />
            </intent-filter>
        </receiver>


        <receiver
            android:name="com.qmkj.niaogebiji.common.push.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.qmkj.niaogebiji" />
            </intent-filter>
        </receiver>


        <!--  ==================================================== 推送 2==================================================== -->

        <!--华为推送服务的配置 -->
        <!-- value的值“xxx”用实际申请的应用ID替换，来源于开发者联盟网站应用的服务详情。-->
        <!--<meta-data-->
            <!--android:name="com.huawei.hms.client.appid"-->
            <!--android:value="appid=101234657">-->
        <!--</meta-data>-->
        <!--<provider-->
            <!--android:name="com.huawei.hms.update.provider.UpdateProvider"-->
            <!--android:authorities="com.qmkj.niaogebiji.hms.update.provider"-->
            <!--android:exported="false"-->
            <!--android:process=":updateProvider"-->
            <!--android:grantUriPermissions="true"/>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的provider，authorities 一定不能与其他应用一样，所以这边 com.fei.main 要替换上您应用的包名-->
            <!--Access HMSSDK need to register provider,authorities must not be the same as other applications, so this side ${package_name} to replace the package name you applied&ndash;&gt;-->
        <!--<provider-->
            <!--android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"-->
            <!--android:authorities="com.qmkj.niaogebiji.updateSdk.fileProvider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
        <!--</provider>-->

        <!--&lt;!&ndash;<activity android:name=".OpendeviceActivity"/>&ndash;&gt;-->

        <!--&lt;!&ndash; 使用 HMSAgent 代码接入HMSSDK 需要注册的activity | Use hmsagent code to access HMSSDK activity that requires registration&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"-->
            <!--android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:exported="false"-->
            <!--android:hardwareAccelerated="true"-->
            <!--android:theme="@android:style/Theme.Translucent" >-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent" />-->
        <!--</activity>-->




        <!--&lt;!&ndash; 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.hms.activity.BridgeActivity"-->
            <!--android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"-->
            <!--android:excludeFromRecents="true"-->
            <!--android:exported="false"-->
            <!--android:hardwareAccelerated="true"-->
            <!--android:theme="@android:style/Theme.Translucent" >-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent" />-->
        <!--</activity>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:exported="false" >-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />-->
        <!--</activity>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:exported="false" >-->
            <!--<meta-data-->
                <!--android:name="hwc-theme"-->
                <!--android:value="androidhwext:style/Theme.Emui.Translucent" />-->
        <!--</activity>-->

        <!--&lt;!&ndash; 接入HMSSDK PUSH模块需要注册，第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播，-->
                <!--此receiver类需要开发者自己创建并继承com.huawei.hms.support.api.push.PushReceiver类，-->
                <!--参考示例代码中的类：com.huawei.hmsagent.HuaweiPushRevicer-->
            <!--Access to the HMSSDK push module requires registration:-->
	            <!--Receive push message (registration, push message, push connection state) broadcast.-->
	            <!--This receiver class requires the developer to create and inherit the com.huawei.hms.support.api.push.PushReceiver class.-->
	            <!--Reference to class in sample code: Com.huawei.hmsagent.HuaweiPushRevicer&ndash;&gt;-->
        <receiver android:name="com.qmkj.niaogebiji.common.push.HUAWEIPushRevicer" >
            <intent-filter>
                <!-- 必须,用于接收token | Must， for receiving token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 | Must， used to receive messages-->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 | Optional, click the button on the notification bar or the notification bar to trigger the onevent callback -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 | Optional, query whether the push channel is connected or not -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>

        <!-- 接入HMSSDK PUSH模块需要注册 :接收通道发来的通知栏消息 | The access HMSSDK push module needs to be registered: the notification bar message sent from the receiving channel -->
        <!--<receiver android:name="com.qmkj.niaogebiji.common.push.HuaweiPushRevicerEx" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.huawei.intent.action.PUSH" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 接入HMSSDK 需要注册的应用下载服务 | Access HMSSDK need to register app download service&ndash;&gt;-->
        <!--<service android:name="com.huawei.updatesdk.service.deamon.download.DownloadService"-->
            <!--android:exported="false"/>-->




        <!--  ==================================================== 推送 3==================================================== -->

        <!--<service-->
            <!--android:name="com.xiaomi.push.service.XMJobService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE"-->
            <!--android:process=":pushservice" />-->

        <!--<service-->
            <!--android:name="com.xiaomi.push.service.XMPushService"-->
            <!--android:enabled="true"-->
            <!--android:process=":pushservice" />-->

        <!--<service-->
            <!--android:name="com.xiaomi.mipush.sdk.PushMessageHandler"-->
            <!--android:enabled="true"-->
            <!--android:exported="true" />-->
        <!--<service-->
            <!--android:name="com.xiaomi.mipush.sdk.MessageHandleService"-->
            <!--android:enabled="true" />-->

        <!-- TODO -->
        <!--<receiver-->
            <!--android:name="com.qmkj.niaogebiji.common.push.XiaoMiMessageReceiver"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="com.xiaomi.mipush.ERROR" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!---->


        <!--<receiver-->
            <!--android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name="com.xiaomi.push.service.receivers.PingReceiver"-->
            <!--android:exported="false"-->
            <!--android:process=":pushservice">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.xiaomi.push.PING_TIMER" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--  ==================================================== 推送 4 ==================================================== -->


        <!--<service-->
            <!--android:name="com.vivo.push.sdk.service.CommandClientService"-->
            <!--android:exported="true" />-->
        <!--<activity-->
            <!--android:name="com.vivo.push.sdk.LinkProxyClientActivity"-->
            <!--android:exported="false"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!-- TODO push应用定义消息receiver声明 -->
        <!--<receiver android:name="com.qmkj.niaogebiji.common.push.VivoMessageReceiver">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash; 接收push消息 &ndash;&gt;-->
                <!--<action android:name="com.vivo.pushclient.action.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--请替换aaaa为应用在开放平台申请的app_key-->
        <!--<meta-data-->
            <!--android:name="com.vivo.push.api_key"-->
            <!--android:value="3c4a8483-9533-403b-b1c4-4614eb2b8018" />-->

        <!--&lt;!&ndash;请替换bbbb为应用在开放平台申请的app_id&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.vivo.push.app_id"-->
            <!--android:value="16704" />-->






        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />

        <activity-alias
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:theme="@style/dialogStyle" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/dialogStyle" />


    </application>

</manifest>